<div class="card p-6">
  <div class="h-screen flex items-center justify-center">
    <div class="text-center">
      <h2 class="uppercase text-sm font-bold">Scroll Down</h2>
      <div class="mt-3 animate-bounce">{{ icon('angle-down') }}</div>
    </div>
  </div>
  <div class="min-h-screen">
    <h2 class="font-bold text-xl border-t border-b py-3 text-center uppercase">Fade</h2>
    <div class="flex flex-col gap-32 py-32">
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('fade', {duration: 1500}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade', {duration: 1500})"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('fade-up', {mirror: true}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade-up', {mirror: true})"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('fade-down', {once: true}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade-down'), {once: true}"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('fade-left') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade-left')"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('fade-right') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade-right')"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('fade-up-right') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade-up-right')"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('fade-up-left') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade-up-left')"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('fade-down-right') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade-down-right')"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('fade-down-left', {delay: 200}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('fade-down-left', {delay: 200})"|raw }}</pre>
        </div>
      </div>
    </div>

    <h2 class="font-bold text-xl border-t border-b py-3 text-center uppercase">Flip</h2>
    <div class="flex flex-col gap-32 py-32">
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('flip-up', {duration: 1500}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('flip-up', {duration: 1500})"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('flip-down', {mirror: true}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('flip-down', {mirror: true})"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('flip-right', {once: true}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('flip-right', {once: true})"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('flip-left', {delay: 200}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('flip-left', {delay: 200})"|raw }}</pre>
        </div>
      </div>
    </div>

    <h2 class="font-bold text-xl border-t border-b py-3 text-center uppercase">Slide</h2>
    <div class="flex flex-col gap-32 py-32">
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('slide-up', {duration: 1500}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('slide-up', {duration: 1500})"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('slide-down', {mirror: true}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('slide-down', {mirror: true})"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('slide-right', {once: true}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('slide-right', {once: true})"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('slide-left', {delay: 200}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('slide-left', {delay: 200})"|raw }}</pre>
        </div>
      </div>
    </div>

    <h2 class="font-bold text-xl border-t border-b py-3 text-center uppercase">Zoom</h2>
    <div class="flex flex-col gap-32 py-32">
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-in', {duration: 1500}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-in', {duration: 1500})"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-in-up', {mirror: true}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-in-up', {mirror: true})"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-in-down', {once: true}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-in-down', {once: true})"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-in-left') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-in-left')"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-in-right') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-in-right')"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-out') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-out')"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-out-up') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-out-up')"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-out-down') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-out-down')"|raw }}</pre>
        </div>
      </div>
      <div class="self-start">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-out-left') %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-out-left')"|raw }}</pre>
        </div>
      </div>
      <div class="self-end">
        {% set attributes = create_attribute()|neo_animate_attribute('zoom-out-right', {delay: 200}) %}
        <div{{ attributes.addClass('card border-8 bg-base text-base-content px-6 py-12') }}>
          <pre>{{ "neo_animate_attribute('zoom-out-right', {delay: 200})"|raw }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
